<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.remotercp.errorhandling.ui.ErrorView"
            icon="icons/info6.jpeg"
            id="org.remotercp.errorhandling.errorview"
            name="Status View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.remotercp.core.perspective">
         <view
               id="org.remotercp.errorhandling.errorview"
               moveable="true"
               ratio="1.0"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
