<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.jxta.JxtaECF_ContainerInstantiator"
            description="jxta provider for ecf"
            hidden="false"
            name="org.eclipse.ecf.provider.jxta"
            server="false">
      </containerFactory>
   </extension>

</plugin>
