<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSClientContainerInstantiator"
            description="ECF Weblogic JMS Client"
            name="ecf.jms.weblogic.client">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSServerContainerInstantiator"
            description="ECF Weblogic JMS Server"
            name="ecf.jms.weblogic.server">
      </containerFactory>
   </extension>
   <extension
         id="org.eclipse.ecf.provider.jms.WeblogicServer"
         name="Weblogic JMS Server"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.eclipse.ecf.provider.jms.weblogic.application.WeblogicJMSServer">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSClientContainer"
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSDatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSServerContainer"
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSDatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSClientContainer"
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSRemoteServiceAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSServerContainer"
            class="org.eclipse.ecf.provider.jms.weblogic.container.WeblogicJMSRemoteServiceAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

</plugin>
