<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.wave.google.identity.WaveNamespace"
            description="Google Wave Namespace"
            name="ecf.namespace.googlewave.wave">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.wave.google.identity.WaveletNamespace"
            description="Google Wavelet Namespace"
            name="ecf.namespace.googlewave.wavelet">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.wave.google.identity.WaveBackendNamespace"
            description="Google WaveBackend Namespace"
            name="ecf.namespace.googlewave.wavebackend">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.internal.wave.google.WaveClientContainerInstantiator"
            name="ecf.googlewave.client">
      </containerFactory>
   </extension>
</plugin>
