<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.yahoo.ui.wizards.YahooConnectWizard"
            containerFactoryName="ecf.yahoo.jymsg"
            id="org.eclipse.ecf.provider.yahoo.ui.connectWizard"
            name="Yahoo IM"/>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.provider.yahoo.ui.hyperlink.YahooHyperlinkDetector"
            id="org.eclipse.ecf.internal.provider.yahoo.ui.hyperlink.YahooHyperlinkDetector"
            name="Yahoo"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
