<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.presence.bot.chatRoomRobot">
      <chatRoomRobot
            connectId="irc://KOS-MOS@irc.freenode.net"
            containerFactoryName="ecf.irc.irclib"
            id="org.hantsuki.kosmos.chatroomBot">
         <chatRooms
               name="#easyeclipse">
         </chatRooms>
         <chatRooms
               name="#eclipse">
         </chatRooms>
         <chatRooms
               name="#eclipse-de">
         </chatRooms>
         <chatRooms
               name="#eclipse-soc">
         </chatRooms>
         <chatRooms
               name="#eclipse-linux">
         </chatRooms>
         <chatRooms
               name="#eclipse-dev">
         </chatRooms>
         <chatRooms
               name="#eclipse-ecf">
         </chatRooms>
      </chatRoomRobot>
   </extension>
   <extension
         point="org.eclipse.ecf.presence.bot.chatRoomMessageHandler">
      <handler
            chatRoomRobotId="org.hantsuki.kosmos.chatroomBot"
            class="org.eclipse.ecf.presence.bot.kosmos.ChatRoomMessageHandler"
            filterExpression="(~bug|~bug[0-9]+|~bug[0-9]+c[0-9]+|~[0-9]+|~[0-9]+c[0-9]+|~manage|~log|~logs|~about|~paste|~pastebin|~tell .*|~snippet|~snippets|~javadoc|~javadoc .*|~api|~api .*|~plugin|~bot|~wtp|~php|~svn|~news|~newsgroup|~cmd|~commands|~help|~g .*|~wiki .*|~eh .*|~source|~ecf)">
      </handler>
   </extension>

</plugin>
