<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.wave.identity.WaveNamespace"
            description="Google Wave Namespace"
            name="ecf.googlewave.wave.n">
      </namespace>
   </extension>

</plugin>
