<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.eclipsercp.ecf.hyperbola.namespace"
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.remotercp.ecf.old.XMPPNameSpace"
            description="XMPP Namespace"
            name="ecf.XMPPNamespace">
      </namespace>
      <namespace
            class="org.remotercp.ecf.ECFNamespace"
            description="ECF Namespace"
            name="ecf.ECFNamespace">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.remotercp.ecf.old.XMPPContainerInstantiator">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.remotercp.ecf.actionSet1"
            label="Connect Actions"
            visible="true">
         <action
               allowLabelUpdate="true"
               class="org.remotercp.ecf.actions.ConnectionAction"
               disabledIcon="icons/network_connect.png"
               icon="icons/network_disconnect.png"
               id="org.remotercp.ecf.connectaction"
               label="Connect"
               style="pulldown"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>

</plugin>
