<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
   id="org.eclipse.ecf.provider.google.ui"
   name="google.ui"
   version="1.0.0"

   class="org.eclipse.ecf.internal.provider.google.ui.Activator">
   
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.google.ui.wizards.GoogleConnectWizard"
            containerFactoryName="ecf.google.smack"
            id="org.eclipse.ecf.provider.ui.google.gtalkConnect"
            name="GoogleTalk"/>
         </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.google.ui.wizards.GoogleConnectWizard"
            id="org.eclipse.ecf.provider.ui.google.gtalkConnect"
            name="GoogleTalk"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%GTalkConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
         <newWizardShortcut id="org.eclipse.ecf.provider.ui.google.gtalkConnect"/>
      </perspectiveExtension>
   </extension>

      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
             <dynamic
               class="org.eclipse.ecf.internal.provider.google.ui.GoogleContributionItem"
               id="org.eclipse.ecf.provider.google.ui.dynamicContribution">
         </dynamic>
      	<!--<dynamic
               class="GoogleUpdateContributionItem"
               id="org.eclipse.ecf.provider.google.ui.dynamicContribution2">
         </dynamic>-->
      </menuContribution>
   </extension>
    <!--<extension
         point="org.eclipse.ui.menus">
               <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         
      </menuContribution>
   </extension>-->
   
</plugin>
