<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ecf.ui.connectWizards">
        <wizard
            class="org.eclipse.ecf.internal.provider.oscar.ui.wizards.OSCARConnectWizard"
            containerFactoryName="ecf.oscar.icqlib"
            id="org.eclipse.ecf.provider.ui.oscar.oscarConnect"
            name="ICQ"/>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.oscar.ui.wizards.OSCARConnectWizard"
            id="org.eclipse.ecf.provider.ui.oscar.oscarConnect"
            name="ICQ"
            icon="icons/new_connection.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
            <description>%OSCARConnectWizardPage.description</description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension targetID="org.eclipse.ecf.ui.perspective.communications">
            <newWizardShortcut id="org.eclipse.ecf.provider.ui.oscar.oscarConnect"/>
        </perspectiveExtension>
   </extension>
</plugin>
