<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="remotercptestapplication.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="remotercptestapplication.Perspective"
            id="TestApplication.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="remotercptestapplication.View"
            id="ScottTestApplication.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="ScottTestApplication.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="ScottProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="ScottTestApplication.application"
            name="ScottTestApplication">
         <property
               name="appName"
               value="ScottTestApplication">
         </property>
      </product>
   </extension>
   <extension
         id="ScottProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="ScottTestApplication.application"
            name="ScottTestApplication">
      </product>
   </extension>
   <extension
         id="remotercpapplication"
         point="org.eclipse.core.runtime.products">
      <product
            application="RemoteRcpTestApplication.application"
            name="RemoteRCP">
         <property
               name="appName"
               value="RemoteRCP">
         </property>
      </product>
   </extension>

</plugin>
