<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.jms.identity.JMSNamespace"
            description="JMS Namespace"
            name="jms.activemq"/>
   </extension>

</plugin>
