<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.provider.jms.activemq.ui.actionSet"
            label="Communications - ActiveMQ"
            visible="false">
         <action
               class="org.eclipse.ecf.internal.provider.jms.activemq.ui.wizard.JoinGroupWizardAction"
               icon="icons/collaboration.gif"
               id="org.eclipse.ecf.provider.jms.activemq.action2"
               label="Connect to ActiveMQ Group..."
               style="push"
               toolbarPath="org.eclipse.ecf.ui.collaboration"
               tooltip="Connect to ActiveMQ Group">
         </action>
      </actionSet>
   </extension>

      <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.jms.activemq.ui.wizard.JoinGroupWizard"
            containerFactoryName="ecf.jms.activemq.tcp.client"
            icon="icons/collaboration.gif"
            id="org.eclipse.ecf.provider.activemq.ui.connectWizard"
            name="ActiveMQ">
      </wizard>
   </extension>
   
      <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.jms.activemq.ui.wizard.JoinGroupWizard"
            id="org.eclipse.ecf.provider.ui.activemq.connect"
            name="ActiveMQ"
            icon="icons/collaboration.gif"
            category="org.eclipse.ecf.ui.newConnection.category"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications">
          <description>%ActiveMQConnectWizardPage.description</description>
      </wizard>
   </extension>

</plugin>
