<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.net4j.Net4jContainerNamespace"
            description="Net4j Namespace"
            name="ecf.namespace.net4j">
      </namespace>
   </extension>

   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.internal.net4j.Net4jContainerInstantiator"
            description="Net4j Client"
            hidden="false"
            name="ecf.net4j.client"
            server="false">
      </containerFactory>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            productGroup="org.eclipse.net4j.serverProtocols"
            type="ecf"
            class="org.eclipse.ecf.provider.internal.net4j.protocol.ECFServerProtocol$Factory">
      </factory>
   </extension>

</plugin>
