<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.ecf.example.rcpchat.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Rcpchat Perspective"
            class="org.eclipse.ecf.example.rcpchat.Perspective"
            id="org.eclipse.ecf.example.rcpchat.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ecf.example.rcpchat.application"
            name="RCPChat">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="windowImages"
               value="icons/contact_enabled.gif"/>
         <property
               name="appName"
               value="RCPChat">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.example.rcpchat.actionSet1"
            label="ECF"
            visible="true">
         <action
               class="org.eclipse.ecf.example.rcpchat.actions.WorkbenchAction"
               icon="icons/contact_enabled.gif"
               id="org.eclipse.ecf.example.collab.joingroupaction"
               label="Connect..."
               menubarPath="org.eclipse.ecf.example.collab.topmenu/org.eclipse.ecf.example.collab.topseparator"
               style="push"
               toolbarPath="org.eclipse.ecf.example.collab.topseparator"
               tooltip="Connect to XMPP Server"/>
         <menu
               id="org.eclipse.ecf.example.collab.topmenu"
               label="ECF">
            <separator name="org.eclipse.ecf.example.collab.topseparator"/>
         </menu>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.example.rcpchat.wizard.XMPPConnectWizard"
            containerFactoryName="ecf.xmpp.smack"
            id="org.eclipse.ecf.provider.ui.xmpp.xmppConnect"
            name="XMPP"/>
   </extension>

</plugin>
