<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.jgroups.identity.JGroupsNamespace"
            description="JGroups Namespace"
            name="ecf.namespace.jgroupsid">
      </namespace>
   </extension>

   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsClientContainerInstantiator"
            description="ECF Generic Client - JGroups"
            name="ecf.jgroups.client">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsManagerContainerInstantiator"
            description="ECF Generic Manager - JGroups"
            name="ecf.jgroups.manager" server="true">
      </containerFactory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsDatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsDatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsRemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsRemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

   <extension
         id="JGroupsManager"
         name="JGroups Manager"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.eclipse.ecf.provider.jgroups.application.JGroupsManager">
         </run>
      </application>
   </extension>

</plugin>
