<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="stackConfig" name="JGroups Stack Configuration" schema="schema/stackConfig.exsd"/>

   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.jgroups.identity.JGroupsNamespace"
            description="JGroups Namespace"
            name="ecf.namespace.jgroupsid">
      </namespace>
   </extension>

   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsClientContainerInstantiator"
            description="ECF Generic Client - JGroups"
            name="ecf.jgroups.client">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.jgroups.JGroupsManagerContainerInstantiator"
            description="ECF Generic Manager - JGroups"
            name="ecf.jgroups.manager" server="true">
      </containerFactory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.provider.datashare.DatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.provider.datashare.DatashareContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.datashare.IChannelContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsClientContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.jgroups.container.JGroupsManagerContainer"
            class="org.eclipse.ecf.provider.remoteservice.generic.RemoteServiceContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.remoteservice.IRemoteServiceContainerAdapter"/>
      </factory>
   </extension>
   <extension-point id="org.eclipse.ecf.provider.jgroups.stackConfig" name="JGroups Stack Configuration" schema="schema/stackConfig.exsd"/>
   
      <extension
            id="org.eclipse.ecf.provider.jgroups.stackConfig"
            point="org.eclipse.ecf.provider.jgroups.stackConfig">
      <stackConfig
            configFile="stacks/conf/udp.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.udp">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/tcp.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.tcp">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/defaultStacks.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.default">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/manet.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.manet">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/auth_md5.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.auth_md5">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/encrypt.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.encrypt">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/gossip-service.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.gossip-service">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/stacks.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.stacks">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/mping.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.mping">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/gossip-service.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.gossip-service">
      </stackConfig>
      <stackConfig
            configFile="stacks/conf/compress.xml"
            id="org.eclipse.ecf.internal.provider.jgroups.compress">
      </stackConfig>
   </extension>

</plugin>
