<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.provider.generic.TCPClientSOContainer"
            class="org.eclipse.ecf.provider.skype.SkypeContainerAdapterFactory">
         <adapter type="org.eclipse.ecf.call.ICallContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.skype.identity.SkypeCallSessionNamespace"
            description="Skype Call Session Namespace"
            name="ecf.namespace.skype.call.session">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.skype.identity.SkypeCallNamespace"
            description="Skype Call Namespace"
            name="ecf.namespace.skype.call">
      </namespace>
   </extension>


</plugin>
