<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.call.sip.identity.SipUriNamespace"
            description="SIP URI Namespace"
            name="ecf.sip">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.call.sip.container.SipContainerInstantiator"
            description="ECF SIP Container "
            name="ecf.call.sip">
      </containerFactory>
   </extension>
</plugin>
