<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="skypeConnect"
            visible="true"
            id="org.eclipse.ecf.provider.skype.ui.actionSet">
         <menu
               id="org.eclipse.ecf.provider.skype.ui.connectMenu"
               label="skypeMenu"
               >
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="org.eclipse.ecf.provider.skype.ui.actions.SkypeOpenAction"
               icon="icons/SkypeBlue_16x16.png"
               id="org.eclipse.ecf.provider.skype.ui.actions.SkypeOpenAction"
               label="&amp;Open Skype"
               style="push"
               toolbarPath="separator"
               tooltip="Open Skype Roster">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?after=additions">
         <dynamic
               class="org.eclipse.ecf.provider.skype.ui.actions.SkypeActionContributionItems"
               id="org.eclipse.ecf.provider.skype.ui.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>

</plugin>
