<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?after=additions">
         <dynamic
               class="org.eclipse.ecf.internal.provider.skype.ui.SkypeActionContributionItems"
               id="org.eclipse.ecf.provider.skype.ui.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.skype.ui.SkypeConnectWizard"
            containerFactoryName="ecf.call.skype"
            icon="icons/SkypeIcons/icons/SkypeBlue_16x16.png"
            id="org.eclipse.ecf.provider.skype.ui.connectWizard"
            name="Skype">
      </wizard>
   </extension>

</plugin>
