<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.call.sip.identity.SipUriNamespace"
            description="SIP URI Namespace"
            name="ecf.namespace.sip.uri">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.call.sip.identity.TelUriNamespace"
            description="ECF Tel URI Namespace"
            name="ecf.namespace.tel.uri">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.call.sip.identity.SipCallSessionNamespace"
            description="SipvCall Session Namespace"
            name="ecf.namespace.sip.call.session">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.call.sip.container.SipContainerInstantiator"
            description="ECF SIP Container "
            hidden="false"
            name="ecf.call.sip"
            server="false">
      </containerFactory>
   </extension>
</plugin>
