<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.iax.identity.IAXNamespace"
            description="Asterisk Protocol Namespace"
            name="IAX Namespace">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.iax.container.IAXContainerInstantiator"
            description="ECF IAX Provider"
            hidden="false"
            name="ecf.provider.iax"
            server="false">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.iax.identity.IAXCallNamespace"
            description="IAX Call Session Namespace"
            name="ecf.namespace.iaxcall">
      </namespace>
   </extension>

</plugin>
