<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.provider.jgroups.ui.wizard.JoinGroupWizard"
            containerFactoryName="ecf.jgroups.client"
            id="org.eclipse.ecf.provider.jgroups.ui.connectWizard"
            name="%connectWizards.name.JGroups">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.ecf.ui.newConnection.category"
            class="org.eclipse.ecf.internal.provider.jgroups.ui.wizard.JoinGroupWizard"
            finalPerspective="org.eclipse.ecf.ui.perspective.communications"
            icon="icons/collaboration.gif"
            id="org.eclipse.ecf.provider.jgroups.ui.connectWizard"
            name="%newWizards.name.JGroups">
         <description>
            %JGroupsConnectWizardPage.description
         </description>
      </wizard>
   </extension>


</plugin>

